<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="multipleResultSetsEnabled" value="true"/>
    <setting name="useGeneratedKeys" value="true"/>
    <setting name="logImpl" value="SLF4J"/>
  </settings>
  <typeAliases>
      <typeAlias type="com.mybatis.UserVo" alias="myUser"></typeAlias>
  </typeAliases>
  <!--<objectFactory type="com" >-->
  <!--<property name="" value=""></property>-->
  <!--</objectFactory>-->
  <!-- 和spring整合后 environments配置将废除 -->
  <environments default="development">
    <environment id="development">
      <!-- 使用jdbc事务管理 -->
      <transactionManager type="JDBC" />
      <!-- 数据库连接池 -->
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver" />
        <property name="url"
                  value="jdbc:mysql://localhost:3306/test?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false" />
        <property name="username" value="root" />
        <property name="password" value="Zhang123." />
      </dataSource>
    </environment>
  </environments>
  <!-- 加载mapper.xml -->
  <mappers>
    <!--<package name=""></package>-->
    <!--mapper里的属性 resource url class-->
    <mapper resource="mapper/DemoMapper.xml"></mapper>

  </mappers>

</configuration>

